<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{block "title" .}}Default app title{{end}}</title>
    <script src="https://unpkg.com/@tanstack/table-core@8.11.3/build/umd/index.production.js"></script>
    <script src="https://unpkg.com/@tanstack/match-sorter-utils@8.19.4/build/umd/index.production.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/pocketbase@0.21.5/dist/pocketbase.umd.js"></script>
    <script type="module" src="./js/main.js"></script>

</head>
<body>
    <span id="pb-host" style="display:none;">{{.PB_HOST}}</span>
    <div id="root">
        <div id="header">
            <h1>mail-catcher</h1>
            <div id="header-links">
                <a href="https://github.com/KooperL/mail-catcher">Source code</a>
                <a href="{{.PB_HOST}}/_">Pocketbase admin</a>
            </div>
        </div>


    {{block "body" .}}
        Default app body...
    {{end}}

    Footer...
</body>
</html>